domain = localhost

spring.http.multipart.max-file-size = 20MB
spring.http.multipart.max-request-size = 20MB
spring.datasource.platform=mysql
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/foodiegram?serverTimezone=Europe/Madrid
spring.datasource.username=root
spring.datasource.password=toor

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQLDialect



apache.address = http://localhost:4555

apache.rootFolder = images/


spring.mail.protocol=smtp
spring.mail.host=smtp.gmail.com
spring.mail.post=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true;
spring.mail.properties.mail.smtp.starttls.enable=true

jwt.auth.secret =
jwt.refresh.secret =

server.ssl.key-store-type=PKCS12
# The path to the keystore containing the certificate
server.ssl.key-store=
# The password used to generate the certificate
server.ssl.key-store-password=
# The alias mapped to the certificate
server.ssl.key-alias=

server.ssl.enabled=true