<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FriendsPage</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>

    <link rel="stylesheet"  href="/css/styles.css"/>
    <script src="/js/postClick.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

</head>
<body style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://cdn.discordapp.com/attachments/734750766895595581/848359437122666516/cute-food-icon-doodle-background_57490-171.jpg)">

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
      <div class="py-5 text-center container">
        <div class="row py-lg-1">
          <div class="col-lg-5 col-md-6 mx-auto" style="display:flex; align-items: center" >
              <div th:if="${!#strings.isEmpty(profilePic)}">
                  <img class="image-responsive img-circle" th:src="${profilePic}" alt="" style="vertical-align: middle; width: 120px; height: 120px; border-radius: 95%;"/>
              </div>
              <div th:if="${#strings.isEmpty(profilePic)}">
                  <img class="image-responsive img-circle" src="https://thumbs.dreamstime.com/z/estilo-del-kawaii-del-car%C3%A1cter-de-la-hamburguesa-84861414.jpg" alt="" style="vertical-align: middle; width: 120px; height: 120px; border-radius: 95%;"/>
              </div>
              <h1 class="fw-light text-align" th:text="${userName}"/>
          </div>
        </div><hr></hr>
      </div>
    </nav>

      <!-- Page Content -->
      <div class="container" style="position: relative">

          <div id="page-mask">

              <div id="post-modal">

                  <img class="modal-click-box" id="post-modal-image"/>

                  <div class="modal-click-box" id="post-modal-right">

                      <div id = "post-modal-details">
                          <p id="post-modal-text"></p>
                          <p id="post-modal-ratings"></p>
                          <p id="post-modal-loc"></p>
                          <p id="post-modal-date"></p>

                          <div style="width: 50%; height: 20%; bottom: 0; left: 10px; position: absolute" >
                              <p>
                                  <i onclick="setRating(this)" id="star1" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                  <i onclick="setRating(this)" id="star2" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                  <i onclick="setRating(this)" id="star3" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                  <i onclick="setRating(this)" id="star4" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                  <i onclick="setRating(this)" id="star5" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i></p>
                          </div>
                      </div >



                      <div id="post-modal-comments-container">

                          <ul id="post-modal-comments" style="padding-top: 10px;">

                          </ul>

                      </div>

                      <div id="post-modal-comment-input">

                          <div style="width: 80%; height: 100%;">
                              <label style="width: 100%; height: 100%">
                                  <input onkeydown="sendComment(event)" id="post-modal-comment-input-field" placeholder="Write something nice." autocomplete="off" style="width: 100%; height: 100%; border: none; padding-left: 10px;"/>
                              </label>
                          </div>

                          <div id="post-modal-send-button-container">
                              <span onclick="sendComment(event)" id="post-modal-send-button" class="bi bi-arrow-right-circle"></span>
                          </div>

                      </div>
                  </div>
              </div>

          </div>

          <div th:if="${postList.empty}">
              <p class="text-center text-white"> Your friend has not upload photos yet! </p>
          </div>

          <div class="cards user-images">

              <div class="card text-white bg-dark border-dark post-card" th:each="image : ${postList}">

                  <div style="width: 100%; height: 60%">
                      <img class="card-img-top post-card-image" onclick="onPostClicked(this)" th:src="${image.image}"  alt="AN ERROR TOOK PLACE LOADING THE PHOTO" th:attr="data-postid=${image.id}"/>
                  </div>


                  <div class="card-body">
                      <p class="card-text" th:text="${image.text}"></p>
                      <div style="position: absolute;bottom: -10px;right: 10px;">
                          <p>
                              <i class="card-text"  th:text="${image.media}"></i>
                              <i class="bi bi-star"></i>
                          </p>
                      </div>


                  </div>
              </div>

          </div>


          <template>

              <li class="list-group-item" style=" padding-left: 0; padding-top: 2px; border:none;">

                  <div style="width: 100%; display: flex;" >

                      <div style="width: 20%; display: flex; justify-content: center">
                          <img class="comment-pfp" alt="pfp" src="https://new.reactionvrsports.com/wp-content/uploads/2020/11/ACCOUNT.png" />
                      </div>

                      <div style="width: 90%">
                          <p></p>
                      </div>

                  </div>

              </li>
          </template>
      </div>

</body>
</html>