<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Friends</title>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>




<div class="container mt-5">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 800px;">

      <table class="table  table-striped">
        <tbody>

          <tr th:if="${friends.empty}">
            <th scope="col">Add Friends!</th>
          </tr>

          <tr><th scope="col"><p class="text-center">friends name</p></th></tr>

          <tr th:each="name : ${friends}">
            <th scope="col"><p class="card-title mt-3 text-center" th:text="${name}"/></th>
          </tr>

        </tbody>
      </table>



      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#exampleModal" data-whatever="add">add friend</button>
      <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" href="#exampleModal" data-whatever="remove">remove friend</button>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form th:action="@{/pruebas/postFriends}" th:object="${friendManagement}" method="post">
                <div class="form-group">
                  <input hidden="hidden" type="text" class="form-control" id="recipient-name"  th:value="recipient-name" th:field="*{type}"/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" th:field="*{friendName}"/><p></p>
                </div>

                <button type="submit" class="btn btn-primary btn-block"> Confirm </button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



      </article>
    </div>
  </div>



</body>
</html>