<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LandingPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="/css/styles.css"/>
</head>

<body class="foodiegram-bg">

<div style="display: flex; justify-content: center">

    <div class="container" style="position: fixed; top: 10vw;width: 20vw;">
        <form th:action="@{/pruebas/postLogin}" th:object="${userLog}" method="post">


            <div class="card bg-light" style="border-radius: 15px;">

                <h1 class="card-title mt-3 text-center">Foodiegram</h1><p></p>

                <article class="card-body mx-auto" style="max-width: 800px;">

                    <h3 class="card-title mt-3 text-center">Log in</h3><p></p>

                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Username" th:field="*{username}"/><p></p>
                    </div>

                    <div class="form-group input-group">
                        <input type="password" class="form-control" placeholder="Password" th:field="*{password}"/><p></p>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block"> log-in </button>
                    </div>

                </article>


                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h5 class="card-title mt-3 text-center">Don't you have an account?
                        <h5 class="card-title mt-3 text-center"> <a href="/pruebas/register"> Register </a></h5>
                    </h5>
                </article>
            </div><p></p><p></p>
        </form>
    </div>

</div>


</body>
</html>