<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>LandingPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <h1 class="card-title mt-3 text-center">Foodiegram</h1><p></p>

    <div class="container">

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 800px;">

                <h3 class="card-title mt-3 text-center">Log in</h3><p></p>

                <div class="form-group input-group">
                    <input name="" class="form-control" placeholder="Username" type="text"/><p></p>
                </div>

                <div class="form-group input-group">
                    <input name="" class="form-control" placeholder="Password" type="text"/><p></p>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block"> log-in </button>
                </div>

            </article>
        </div><p></p><p></p>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h5 class="card-title mt-3 text-center">Don't you have an account?
                    <h5 class="card-title mt-3 text-center"> <a th:href="@{/register}"> Register </a></h5>
                </h5>
            </article>
        </div>
    </div>
</body>
</html>